* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    color: gray;
}

/* Logo and Search Bar */

.google-logo-and-search-bar {
    display: flex;
    align-items: center;
}

.logo {
    width: 92px;
    padding: 30px 0 0 30px;
    align-self: center;
    padding-bottom: 30px;
}

.search-bar {
    margin: 0px 0px 0px 30px;
    width: 692px;
    height: 46px;
    border-radius: 24px;
    border: 1px solid #dfe1e5;
    outline: 0;
}

/* ---------------------------------------- */

/* Search Sort by Options */

.sort-by-options {
    border-bottom: solid 1px rgb(235, 235, 235);
    padding-bottom: 5px;
}

.all-news-video-etc {
    display: flex;
    margin-left: 165px;
    font-size: 14px;
}

.sort-by-option {
    display: flex;
    align-items: center; 
    margin: 10px;
}

.sort-by-option img {
    height: 16px;
    width: 16px;
    padding-right: 5px;
}

.tools-option {
    margin-left: 170px;
}

/* ---------------------------------------- */

/* Main Section */

main {
    font-size: 14px;
    margin-top: 15px;
    margin-left: 160px;
}

.result {
    width: 600px;
    color: black;
    margin-top: 25px;
    font-size: 15px;
}

.result span {
    color: rgb(95, 99, 104);
}

.result-page-name, .result-description {
    padding-top: 10px;
}

.result-page-name {
    font-size: 18px;
    color: rgb(26, 13, 171);
    font-weight: 500;
}

#bottom-result {
    margin-bottom: 50px;
}